In [ ]:
!pip install pandas==1.1.2

Collecting pandas==1.1.2
  Downloading https://files.pythonhosted.org/packages/1c/11/e1f53db0614f2721027aab297c8afd2eaf58d33d566441a97ea454541c5e/pandas-1.1.2-cp36-cp36m-manylinux1_x86_64.whl (10.5MB)
     |████████████████████████████████| 10.5MB 7.9MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.2) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.2) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.2) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.2) (1.15.0)
ERROR: google-colab 1.0.0 has requirement pandas~=1.0.0; python_version >= "3.0", but you'll have pandas 1.1.2 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.0.5
    Uninstalling pandas-1.0.5:
      Successfully uninstalled pandas-1.0.5
Successfully installed pandas-1.1.2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

% cd '/content/drive/My Drive/cricket-analysis'

Mounted at /content/drive
/content/drive/My Drive/cricket-analysis

In [ ]:
!ls -lath

total 103K
-rw------- 1 root root 33K Sep 26 21:21 kohli.pkl
-rw------- 1 root root 29K Sep 26 21:21 sharma.pkl
-rw------- 1 root root 22K Sep 26 02:22 kohli_base.pkl
-rw------- 1 root root 19K Sep 26 02:22 sharma_base.pkl

In [ ]:
import pandas as pd
import numpy as np

from pickle import Unpickler

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# with open('sharma.pkl', 'rb') as fp:
#   df_sharma = Unpickler(fp).load()

df_sharma = pd.read_pickle('sharma.pkl')
df_kohli = pd.read_pickle('kohli.pkl')

In [ ]:
print(f"sharma partnerships: {df_sharma.shape}")
print(f"kohli partnerships: {df_kohli.shape}")

sharma partnerships: (417, 8)
kohli partnerships: (477, 8)

In [ ]:
m1 = set(df_sharma[df_sharma['partner'] == 'V Kohli']['dom'].unique())
len(m1)

m2 = set(df_kohli[df_kohli['partner'] == 'RG Sharma']['dom'].unique())
len(m2)

In [ ]:
df_sharma.head()

    partner  total_runs  total_deliveries  ...  result home_venue  win_toss
0  S Dhawan         136               150  ...       1          0         0
1   V Kohli          56                73  ...       1          0         0
2  S Dhawan         138               151  ...       0          0         0
3  S Dhawan          23                33  ...       1          0         1
4  S Dhawan          87                88  ...       1          0         1

[5 rows x 8 columns]

In [ ]:
df_kohli.head()

        partner  total_runs  total_deliveries  ...  result home_venue  win_toss
0     RG Sharma          56                73  ...       1          0         0
1  Yuvraj Singh          93                59  ...       1          0         0
2     HH Pandya          34                10  ...       1          0         0
3      S Dhawan           1                 6  ...       0          0         0
4      S Dhawan         128               150  ...       1          0         1

[5 rows x 8 columns]

In [ ]:
df_kohli[df_kohli['partner'] == 'RG Sharma'].shape
df_sharma[df_sharma['partner'] == 'V Kohli'].shape

In [ ]:
# df_sharma['runs_sharma'].fillna(0, inplace=True)
# df_kohli['runs_kohli'].fillna(0, inplace=True)

In [ ]:
def null_cols(data):

    """
    This function takes a dataframe df and shows the % null values in each column

    """
    nulls = data.isna().mean()*100
    nulls = pd.DataFrame(nulls.sort_values(ascending = False))
    nulls = nulls.reset_index().rename(columns = {"index": "feature", 0: "% nulls"})
    return nulls

In [ ]:
null_cols(df_sharma)
print("============")
null_cols(df_kohli)

            feature  % nulls
0          win_toss      0.0
1        home_venue      0.0
2            result      0.0
3               dom      0.0
4       runs_sharma      0.0
5  total_deliveries      0.0
6        total_runs      0.0
7           partner      0.0

============

            feature  % nulls
0          win_toss      0.0
1        home_venue      0.0
2            result      0.0
3               dom      0.0
4        runs_kohli      0.0
5  total_deliveries      0.0
6        total_runs      0.0
7           partner      0.0

In [ ]:
df_sharma_toss1 = df_sharma[df_sharma['win_toss']==1]
df_sharma_toss2 = df_sharma[df_sharma['win_toss']==0]

In [ ]:
# the matches where India won the toss
agg_sharma1 = df_sharma_toss1.groupby('partner').agg(TLPsRuns=('total_runs', 'sum'),
                                             TLPsBalls=('total_deliveries', 'sum'),
                                             PsCount=('dom', 'count'),
                                             TLRunsSharma=('runs_sharma', 'sum'),
                                             WinPerc=('result', 'mean'),
                                             WinToss=('win_toss', 'mean'))

agg_sharma1['AvgPsRuns'] = agg_sharma1['TLPsRuns']/agg_sharma1['PsCount']
agg_sharma1['AvgPsRunsSharma'] = agg_sharma1['TLRunsSharma']/agg_sharma1['PsCount']
agg_sharma1['StrikeRate'] = agg_sharma1['TLPsRuns']/agg_sharma1['TLPsBalls']
agg_sharma1.sort_values(by=['TLPsRuns', 'AvgPsRuns'], ascending=[False, False], inplace=True)
agg_sharma1.head(10)

              TLPsRuns  TLPsBalls  ...  AvgPsRunsSharma  StrikeRate
partner                            ...
V Kohli           2250       2260  ...        33.090909    0.995575
S Dhawan          2091       2483  ...        18.568627    0.842126
SK Raina           796        818  ...        18.250000    0.973105
MS Dhoni           599        661  ...        16.833333    0.906203
AT Rayudu          435        435  ...        43.000000    1.000000
AM Rahane          410        550  ...        15.250000    0.745455
KL Rahul           381        418  ...        35.666667    0.911483
RA Jadeja          313        311  ...        27.666667    1.006431
Yuvraj Singh       212        310  ...        13.125000    0.683871
KD Karthik         145        235  ...         9.571429    0.617021

[10 rows x 9 columns]

In [ ]:
# the matches where India lost the toss
agg_sharma2 = df_sharma_toss2.groupby('partner').agg(TLPsRuns=('total_runs', 'sum'),
                                             TLPsBalls=('total_deliveries', 'sum'),
                                             PsCount=('dom', 'count'),
                                             TLRunsSharma=('runs_sharma', 'sum'),
                                             WinPerc=('result', 'mean'),
                                             WinToss=('win_toss', 'mean'))

agg_sharma2['AvgPsRuns'] = agg_sharma2['TLPsRuns']/agg_sharma2['PsCount']
agg_sharma2['AvgPsRunsSharma'] = agg_sharma2['TLRunsSharma']/agg_sharma2['PsCount']
agg_sharma2['StrikeRate'] = agg_sharma2['TLPsRuns']/agg_sharma2['TLPsBalls']
agg_sharma2.sort_values(by=['TLPsRuns', 'AvgPsRuns'], ascending=[False, False], inplace=True)
agg_sharma2.head(10)

              TLPsRuns  TLPsBalls  ...  AvgPsRunsSharma  StrikeRate
partner                            ...
S Dhawan          2650       3022  ...        21.054545    0.876903
V Kohli           2619       2897  ...        29.422222    0.904039
MS Dhoni           815        861  ...        39.916667    0.946574
KL Rahul           781        851  ...        48.666667    0.917744
AM Rahane          727        844  ...        31.416667    0.861374
SS Iyer            390        339  ...        40.800000    1.150442
SK Raina           273        324  ...        13.300000    0.842593
G Gambhir          253        295  ...        11.300000    0.857627
Yuvraj Singh       237        274  ...         7.833333    0.864964
KD Karthik         152        203  ...        13.333333    0.748768

[10 rows x 9 columns]

In [ ]:
# df_sharma_copy = df_sharma.copy()

agg_sharma = df_sharma_copy.groupby('partner').agg(TLPsRuns=('total_runs', 'sum'),
                                             TLPsBalls=('total_deliveries', 'sum'),
                                             PsCount=('dom', 'count'),
                                             TLRunsSharma=('runs_sharma', 'sum'),
                                             WinPerc=('result', 'mean'),
                                             WinToss=('win_toss', 'mean'))

agg_sharma['AvgPsRuns'] = agg_sharma['TLPsRuns']/agg_sharma['PsCount']
agg_sharma['AvgPsRunsSharma'] = agg_sharma['TLRunsSharma']/agg_sharma['PsCount']
agg_sharma['StrikeRate'] = agg_sharma['TLPsRuns']/agg_sharma['TLPsBalls']
agg_sharma.sort_values(by=['TLPsRuns', 'AvgPsRuns'], ascending=[False, False], inplace=True)
agg_sharma.head(10)

              TLPsRuns  TLPsBalls  ...  AvgPsRunsSharma  StrikeRate
partner                            ...
V Kohli           4869       5157  ...        30.974359    0.944154
S Dhawan          4741       5505  ...        19.858491    0.861217
MS Dhoni          1414       1522  ...        26.066667    0.929041
KL Rahul          1162       1269  ...        43.466667    0.915682
AM Rahane         1137       1394  ...        23.333333    0.815638
SK Raina          1069       1142  ...        16.600000    0.936077
AT Rayudu          486        508  ...        28.200000    0.956693
Yuvraj Singh       449        584  ...         9.950000    0.768836
SS Iyer            390        339  ...        40.800000    1.150442
RA Jadeja          353        348  ...        21.888889    1.014368

[10 rows x 9 columns]

In [ ]:
df_kohli_copy = df_kohli.copy()
agg_kohli = df_kohli_copy.groupby('partner').agg(total_ps_runs=('total_runs', 'sum'),
                                             total_ps_deliveries=('total_deliveries', 'sum'),
                                             count_ps=('dom', 'count'),
                                             total_runs_kohli=('runs_kohli', 'sum'),
                                             win_perc=('result', 'mean'))

agg_kohli['avg_ps_runs'] = agg_kohli['total_ps_runs']/agg_kohli['count_ps']
agg_kohli['avg_runs_kohli'] = agg_kohli['total_runs_kohli']/agg_kohli['count_ps']
agg_kohli['strike_rate'] = agg_kohli['total_ps_runs']/agg_kohli['total_ps_deliveries']
agg_kohli.sort_values(by=['total_ps_runs', 'avg_ps_runs'], ascending=[False, False], inplace=True)
agg_kohli.head(10)

              total_ps_runs  total_ps_deliveries  ...  avg_runs_kohli  strike_rate
partner                                           ...
RG Sharma              4869                 5157  ...       29.551282     0.944154
S Dhawan               3005                 3173  ...       27.720000     0.947053
SK Raina               2223                 2154  ...       26.261905     1.032033
G Gambhir              1963                 2270  ...       28.529412     0.864758
MS Dhoni               1834                 2105  ...       19.469388     0.871259
AM Rahane              1708                 1922  ...       29.483871     0.888658
Yuvraj Singh           1146                 1265  ...       18.793103     0.905929
AT Rayudu               869                  962  ...       28.750000     0.903326
KM Jadhav               698                  652  ...       25.214286     1.070552
V Sehwag                610                  582  ...       23.454545     1.048110

[10 rows x 8 columns]

In [ ]:
agg_kohli.sort_values(by=['count_ps'], inplace=True, ascending=False)
agg_kohli

                 total_ps_runs  ...  average_runs_kohli
partner                         ...
RG Sharma                 4869  ...           29.551282
S Dhawan                  3005  ...           27.720000
MS Dhoni                  1834  ...           19.469388
SK Raina                  2223  ...           26.261905
G Gambhir                 1963  ...           28.529412
AM Rahane                 1708  ...           29.483871
Yuvraj Singh              1146  ...           18.793103
AT Rayudu                  869  ...           28.750000
KM Jadhav                  698  ...           25.214286
KL Rahul                   384  ...           15.538462
KD Karthik                 511  ...           21.666667
V Sehwag                   610  ...           23.454545
HH Pandya                  343  ...           14.090909
PA Patel                   257  ...           13.400000
SR Tendulkar               603  ...           27.800000
RA Jadeja                  267  ...           17.555556
SS Iyer                    489  ...           30.000000
RR Pant                    127  ...            7.666667
M Vijay                    105  ...            7.000000
MK Pandey                  251  ...           31.000000
V Shankar                  228  ...           22.000000
YK Pathan                  134  ...           15.000000
MK Tiwary                  224  ...           37.000000
R Ashwin                   103  ...           23.666667
B Kumar                    120  ...           23.333333
Harbhajan Singh             19  ...            6.500000
PP Shaw                     37  ...            7.000000
Kuldeep Yadav               15  ...            5.000000
R Dravid                   206  ...           58.000000
S Badrinath                 21  ...            9.000000
AM Nayar                    26  ...           25.000000
STR Binny                   16  ...            4.000000
RV Uthappa                  30  ...           10.000000
IK Pathan                    8  ...            1.000000
AR Patel                    57  ...           39.000000
MA Agarwal                   4  ...            0.000000
Gurkeerat Singh              1  ...            1.000000

[37 rows x 6 columns]